body {
  font-family: "Inter", sans-serif;
  background-color: #f8f9fa;
  color: #2b3437;
}

h1,
h2,
h3,
h4,
h5,
h6,
.font-headline {
  font-family: "Space Grotesk", sans-serif;
}

.ambient-shadow {
  box-shadow: 0 20px 40px rgba(43, 52, 55, 0.05);
}

.ghost-border {
  border: 1px solid rgba(171, 179, 183, 0.2);
}

.bg-gradient-cta {
  background: linear-gradient(45deg, #525f71, #465365);
}
